.matchSearchDetail .matchSearch-remind {margin-top:5px;}
.matchSearchDetail .matchSearch-remind i{vertical-align: -1px;}
.matchSearchDetail .matchSearch-remind span{color:#62c462;font-weight: bold;}

.matchSearchDetail .matchShortInfo{font-size: 14px;padding: 5px;border: 1px solid #ccc;border-top: 3px solid #abcf20;background-color: #f5f5f5;}
.matchSearchDetail .matchShortInfo th{text-align: left;}

.matchSearchDetail .matchContent{border: 1px solid #cccccc;margin-top: 10px;}
.matchSearchDetail .matchContent > .matchScore{border-bottom: 1px solid #cccccc;
  *border: 0;padding: 5px 15px;}
.matchSearchDetail .matchContent > .matchScore > .title{text-align: center;font-weight: bold;}
.matchSearchDetail .matchContent > .title{
/** 按钮样式**/
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  margin-top:5px;
}
.matchSearchDetail .matchContent > .match{padding: 5px 15px;}