/** 侧边导航 **/
.mySousaiMenu{margin-left: 0;}

.nav-side.affix {
top: 40px;
}

.nav-side {
margin: 0;
padding: 0;
background-color: #fff;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.nav-side > li > a {
display: block;
width: 190px \9;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}

.nav-side > li:first-child > a {
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}

.nav-side > li:last-child > a {
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
}

.nav-side .icon-chevron-right {
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}

.nav-side > .active > a {
color: #fff;
background-color: #62c462;
font-weight: bold;
position: relative;
z-index: 2;
padding: 9px 15px;
border: 0;
text-shadow: 0 1px 0 rgba(0,0,0,.15);
-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.nav-side .active .icon-chevron-right, .nav-side .active a:hover .icon-chevron-right {
background-image: url(img/glyphicons-halflings-white.png);
opacity: 1;
}
/** 发布页面按钮间隔 **/
.controls > button {margin-left: 10px;}
/** 用户中心提醒 **/
.userCenter-remind span{color:red;}
.userCenter-remind .breadcrumb{margin-bottom: 0;}

.fileupload-buttonbar{margin-top: 10px;}

 /* 编辑用户信息界面相关样式 */
  /** 更改密码label排列方式 **/
  .control-label-changePwd {margin: 5px 0 0 0;}
  /** 当前头像 **/
  #editUserForm .crtUserIcon {
  display: inline-block;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
  #editUserForm .crtUserIcon > img {width: 100px;height: 100px;}
  /** 缩略图**/
  .userCenter .thumbnail img {width: 50px;height: 50px;}
  #imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);height: 70px;}
  .fileinput-button {margin-top: 5px;}
/** ie8-11下 span8左边距问题 **/
.span11 > .span8 {margin-left\0: 100px;}
