.register-heading {
    background-color: #c0f449;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.register .popover{display: block;position: relative;z-index: 1;}
.register .popover strong{color: #62c462;}

/** 楠岃瘉鐮�*/
.register .form-signin .error {
    color: #fa3d1d;
}

.register .form-signin .code {
    background: url(img/code-bg.png);
    font-family: Arial;
    font-style: italic;
    color: blue;
    font-size: 20px;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
    float: left;
    cursor: pointer;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.register .form-signin .code-changeLink:hover,.register .form-signin .code-changeLink:focus {
    color: #797979;
    text-decoration: underline;
    cursor: pointer;
}

.register .form-signin .code-changeLink,.register .form-signin .code-changeLink:active {
    color: #797979;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: -10px;
}
/** inputValidateImg background picture **/
/** #inputValidateImg {background-image: url(../img/wallimg.png);} **/

