a:hover,a:active{text-decoration: none;}

.index .g-hd .unsignin{color: #51a351;}
/** 搜索框菜单链接颜色为绿色 **/
.nav-tabs > .active > a {
	color: #fff;
	background-color: #62c462;
	border: 1px solid #62c462;
}

.nav-tabs > li > a:hover,.nav-tabs > li > a:focus,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus {
	color: #fff;
	background-color: #51a351;
}

.input-append .add-on, .input-prepend .add-on {
    background-color: #62c462;
    border: 1px solid #62c462;
}
/** /链接颜色为绿色 **/

/** 解决input-prepend的外框问题 **/
.index .tab-content {
	padding-left: 1px;
}

/** 主页搜索框选择框的颜色 **/
.index .tab-pane select {
	border: 1px solid #62c462;
}

.index .btn-search {
	width: 90px;
}

.index select.span1 {
	width: 90px;
	font-size: 12px;
}

.g-searchbox-other {
	line-height: 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: -3px;
	font-size: 12px;
	margin-left: 10px;
}

.g-searchbox-other p {
	margin-bottom: 0;
}

.index .breadcrumb-fff .breadcrumb {
	background-color: #fff;
	padding: 0 15px;
	margin-bottom: 0;
}

.index .breadcrumb-fff hr {
	margin: 0;
}

/* 主页主体快捷图标 */
.g-scmn li a {
	float: left;
	height: 80px;
	width: 152px;
	border: 1px solid #ccc;
	margin: 10px;
	-webkit-box-shadow: #ccc 0px 0px 5px;
	-moz-box-shadow: #ccc 0px 0px 5px;
	box-shadow: #ccc 0px 0px 5px;
	behavior: url(/PIE.htc);
}

.g-scmn li a:hover {
	-webkit-box-shadow: #666 2px 2px 5px;
	-moz-box-shadow: #666 2px 2px 5px;
	box-shadow: #666 2px 2px 5px;
	behavior: url(/PIE.htc);
}

.m-sc .u-pic {
	position: relative;
	top: 10px;
	left: 10px;
	width: 45px;
	height: 41px;
}

.m-sc .m-dsc {
	position: relative;
	top: -35px;
	left: 60px;
}

.m-sc .m-dsc .u-tt {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: -10px;
	font-weight: bold;
	font-size: 20px;
}

.m-sc .m-dsc .u-dsc {
	display: block;
}

.m-sc .u-label {
	display: none;
	position: relative;
	top: -34px;
	height: 25px;
	line-height: 25px;
	background-color: #ccc;
	text-align: center;
}

